#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Logo en movimiento */

.animated-title {
  color: red;
  font-family: 'Ink Free', serif; /* Cambia el tipo de letra */
  font-size: 72px; /* Cambia el tamaño del texto */
  animation: moveRightDown 5s infinite, changeColor 5s infinite; /* Animaciones */
}

@keyframes moveRightDown {
  0% {
    transform: translate(0, 0); /* No hay desplazamiento al inicio */
  }
  80% {
    transform: translate(
      10px,
      100px
    ); /* Desplazamiento hacia la derecha y hacia abajo */
  }
  100% {
    transform: translate(5px, 5px); /* Vuelve a la posición original */
  }
}

@keyframes changeColor {
  0% {
    color: rgb(179, 28, 28); /* Color inicial */
  }
  50% {
    color: purple; /* Color intermedio */
  }
  100% {
    color: rgb(224, 24, 141); /* Color final */
  }
  100% {
    color: green; /* Color final */
  }
  100% {
    color: rgb(60, 60, 151); /* Color final */
  }
  100% {
    color: rgb(133, 119, 119); /* Color final */
  }
  100% {
    color: black; /* Color final */
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 768px) {
  .container {
    width: 750px; /* Ancho fijo para pantallas grandes */
  }
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 767px) {
  .container {
    width: 100%; /* Ancho fluido para pantallas medianas */
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
  .container {
    width: 100%; /* Ancho fluido para pantallas pequeñas */
  }
}
